<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.settings"
    coreApp="true"
    android:sharedUserId="android.uid.system">

    <!-- Adaptive Charging -->
    <permission
        android:name="com.google.android.settings.fuelgauge.BATTERY_SETTING"
        android:protectionLevel="signature|privileged" />

    <!-- Biometrics -->
    <permission
        android:name="com.google.android.settings.biometrics.face.POSTURE_GUIDANCE"
        android:protectionLevel="signature|privileged" />

    <application
        android:name="com.google.android.settings.generalaccess.SettingsGoogleGeneralAccessApplication"
        android:icon="@mipmap/ic_launcher_settings"
        tools:replace="android:name,android:icon">

        <uses-library android:name="org.apache.http.legacy" />

        <!-- Locale Picker -->
        <activity
            android:name="com.google.android.settings.localepicker.SetupSystemLocalePickerActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask">
            <intent-filter android:priority="1">
                <action android:name="com.google.android.settings.localepicker.LOCALE_REGION_PICKER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.google.android.settings.localepicker.SetupRegionAndNumberingSystemActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.settings.localepicker.REGIONAND_PICKER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.google.android.settings.localepicker.SetupRegionSearchActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.settings.localepicker.SETUP_REGION_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.android.settings.localepicker.LocalePickerSetupWizardEventsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.setupwizard.SETUP_WIZARD_FINISHED"/>
            </intent-filter>
        </receiver>

        <!-- Battery Saver -->
        <activity
            android:label="@string/smart_battery_title"
            android:name="com.google.android.settings.fuelgauge.batterysaver.AdaptiveBatteryTrampoline"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.settings.fuelgauge.batterysaver.AdaptiveBatteryTrampoline" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.HIGHLIGHT_MENU_KEY"
                android:value="@string/menu_key_battery" />
            <meta-data
                android:name="com.android.settings.PRIMARY_PROFILE_CONTROLLED"
                android:value="true" />
        </activity>

        <activity
            android:label="@string/battery_schedule_title"
            android:name="com.google.android.settings.fuelgauge.batterysaver.BatterySaverScheduleTrampoline"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.settings.fuelgauge.batterysaver.BatterySaverScheduleTrampoline" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.HIGHLIGHT_MENU_KEY"
                android:value="@string/menu_key_battery" />
            <meta-data
                android:name="com.android.settings.PRIMARY_PROFILE_CONTROLLED"
                android:value="true" />
        </activity>

        <!-- Software Updates -->
        <activity
            android:name="com.google.android.settings.update.SoftwareUpdateActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.google.android.settings.update.SOFTWARE_UPDATE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.HIGHLIGHT_MENU_KEY"
                android:value="@string/menu_key_system" />
        </activity>

        <!-- Simple Mode -->
        <provider
            android:name="com.google.android.settings.simplemode.AccessibilityAppearanceProvider"
            android:exported="true"
            android:authorities="com.android.settings.matcha.accessibilityappearanceprovider"/>

        <activity
            android:name="com.google.android.settings.simplemode.SimpleModeSettingsActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask">
            <intent-filter android:priority="1">
                <action android:name="com.google.android.settings.matcha.ACCESSIBILITY_APPEARANCE_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="com.android.settings.FRAGMENT_CLASS"
                android:value="com.google.android.settings.simplemode.SimpleModeSettingsFragment"/>
        </activity>

        <receiver
            android:name="com.google.android.settings.simplemode.SimpleModeSetupWizardEventsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.setupwizard.SETUP_WIZARD_FINISHED"/>
            </intent-filter>
        </receiver>

        <!-- Adaptive Charging -->
        <activity
            android:name="com.google.android.settings.fuelgauge.adaptivecharging.AdaptiveChargingSettingsActivity"
            android:label="@string/adaptive_charging_title"
            android:permission="com.google.android.settings.fuelgauge.BATTERY_SETTING"
            android:exported="true" />

        <provider
            android:name="com.google.android.settings.fuelgauge.AdaptiveChargingContentProvider"
            android:authorities="com.android.settings.fuelgauge.provider.adaptive_charging"
            android:permission="com.google.android.settings.fuelgauge.BATTERY_SETTING"
            android:exported="true"
            android:multiprocess="false" />

        <!-- Battery widget -->
        <receiver
            android:name="com.google.android.settings.fuelgauge.BatteryBroadcastReceiver"
            android:permission="android.permission.BLUETOOTH_CONNECT"
            android:exported="true">
            <intent-filter>
                <action android:name="settings.intelligence.battery.action.FETCH_BLUETOOTH_BATTERY_DATA" />
            </intent-filter>
        </receiver>

        <!-- Biometrics -->
        <activity
            android:name="com.google.android.settings.biometrics.face.FaceEnrollParentalConsentGoogle"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/GlifV4Theme.DayNight" />

        <activity
            android:name="com.google.android.settings.biometrics.face.FaceEnrollIntroductionGoogle"
            android:exported="false"
            android:theme="@style/GlifV4Theme.DayNight" />

        <activity
            android:name="com.google.android.settings.biometrics.face.FaceEnrollEducationGoogle"
            android:exported="false"
            android:screenOrientation="nosensor"
            android:theme="@style/GlifV4Theme.DayNight" />

        <activity
            android:name="com.google.android.settings.biometrics.face.FaceEnrollTrampoline"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SudThemeGlif.Light" />

        <activity
            android:name="com.google.android.settings.biometrics.face.FaceEnrollFoldPage"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|density"
            android:excludeFromRecents="true"
            android:exported="true"
            android:permission="com.google.android.settings.biometrics.face.POSTURE_GUIDANCE"
            android:screenOrientation="nosensor"
            android:theme="@style/SudThemeGlif.Light" />

        <activity
            android:name="com.google.android.settings.biometrics.face.FaceEnrollEnrolling"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/SudThemeGlif.Light" />

        <activity
            android:name="com.google.android.settings.biometrics.face.FaceEnrollParticipation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/SudThemeGlif.Light" />

        <activity
            android:name="com.google.android.settings.biometrics.face.FaceEnrollConfirmation"
            android:exported="true"
            android:permission="com.google.android.settings.biometrics.face.POSTURE_GUIDANCE"
            android:screenOrientation="nosensor"
            android:theme="@style/GlifV4Theme.DayNight">
            <intent-filter>
                <action android:name="com.google.android.settings.action.CONFIRM_FACE_ENROLLMENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.google.android.settings.biometrics.fingerprint.FingerprintEnrollParentalConsentGoogle"
            android:exported="false"
            android:theme="@style/GlifV4Theme.DayNight" />

        <activity
            android:name="com.google.android.settings.biometrics.fingerprint.ui.view.FingerprintEnrollmentActivity"
            android:enableOnBackInvokedCallback="false"
            android:exported="false"
            android:theme="@style/GlifV4Theme.DayNight" />

        <activity
            android:name="com.google.android.settings.biometrics.fingerprint.ui.view.FingerprintEnrollmentActivity$InternalActivity"
            android:enableOnBackInvokedCallback="false"
            android:exported="false"
            android:taskAffinity="com.android.settings.root"
            android:theme="@style/GlifV4Theme.DayNight" />

        <activity
            android:name="com.google.android.settings.biometrics.fingerprint.ui.view.FingerprintEnrollmentActivity$SetupActivity"
            android:enableOnBackInvokedCallback="false"
            android:exported="false"
            android:permission="android.permission.MANAGE_FINGERPRINT"
            android:theme="@style/GlifV4Theme.DayNight" />

        <activity
            android:name="com.google.android.settings.biometrics.fingerprint.ui.view.FingerprintEnrollmentActivity$AddAnother"
            android:enableOnBackInvokedCallback="false"
            android:exported="false"
            android:permission="android.permission.MANAGE_FINGERPRINT"
            android:theme="@style/GlifV4Theme.DayNight" />

        <activity
            android:name="com.google.android.settings.biometrics.combination.ui.view.FrrCommonNotificationActivity"
            android:enableOnBackInvokedCallback="false"
            android:enabled="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/GlifV4Theme.DayNight" />

        <activity
            android:name="com.google.android.settings.biometrics.usudfps.ui.view.SpSetupActivity"
            android:enableOnBackInvokedCallback="false"
            android:enabled="true"
            android:exported="false"
            android:theme="@style/GlifV4Theme.DayNight" />

        <activity
            android:name="com.google.android.settings.biometrics.usudfps.ui.view.SpApplyActivity"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/GlifV4Theme.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="pixel" android:scheme="mfg-sp" />
            </intent-filter>
        </activity>
    </application>
</manifest>
